/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

.firstRow{
    margin: 10px;
}

.container-fluid{
    background-color: #edf1f5;
    padding:1px;
}
.twilio{

    width: 100%;
    height: 100%;
    background-color: #021939;
    position: relative;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);

    border-radius: 30px;
    
}

.twilioVideo{
    width: 100%;
    height: 100%;
    
    
}
#screenBanner{
    height: 36px;
    max-width: 500px;
    color:#4bace9;
    border-width: 3px;
    border-style: solid;
    border-color: #4bace9;
    line-height: 110%;
    border-radius: 30px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:30px;
    background-color: transparent;
    background-blend-mode: darken;
    display:none

}

.feedbackJumbotron{
    background-color:#4bace9;
}
.feedbackForm{
    background-color: #cccccc;
}

.studentProfile{
    width: 100%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    
  border-radius: 30px;
}


.identity{
    background-color: #4bace9;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%; height:100%;
  }
.btn-success {
    color: #fff;
    background-color: #4bace9;
    font-size: 20px;
    border-color: #4bace9;
}
.participantCount{
    margin-top: 50px;
    color:#4bace9;
    padding:8px;
    border-radius: .25rem;
    border-width: 2px;
    border-style: solid;
    border-color: #4bace9;
}

.participantCount p{
    margin: 5px;
    font-size: 20px;
}

.notes{
    margin-top: 10px;

    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    overflow-y: auto;
    border-radius: 30px;
}
.participants{
   
    height: 100%;
    width: 100%;
    position:relative;
}
.placeHolder{
    width:100%;
    height: 50vw;
    background-color: #cccccc;
    display: flex;
    border-radius: 30px 30px 0px 0px;
    
    justify-content: center;
    align-items: center;

}
.placeHolder p{
    margin:auto;
}
/* CSS to edit video element */
.track1 video{
    width: 100%;
    height: 100%;
    display: block;
}

.local{
    position: absolute;
margin-bottom: 100px;
right:0;
bottom:0;
width:30%;
border-style: solid;
}

.localParticipantVideo{

}

.remote .remoteParticipantVideo video{

    border-radius: 30px 30px 0px 0px;
    
}


/* screen share styling*/

.remoteShare .remoteParticipantVideo{

    width:30%;
    
}

.remoteShare .identity{

    width:30%;
    
}

.localShare{
    position: absolute;
margin-bottom: 42px;
right:0;
bottom:0;
width:30%;
border-style: solid;
}

.remoteShare .remoteParticipantScreenShare video{

    border-radius: 30px 30px 0px 0px;
    
}

/* .room{
    height: inherit;
    width: inherit;
} */
#tbar{
    height: 90%px;
    width: 100%px;
    background-color: grey;
}

.participantZoomed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.participantHidden {
    display: none;
}

.remoteParticipantVideo{
    width: 100%;
    height: 100%;
}