/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

.firstRow{
    margin: 10px;
}
.twilio{
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 100%;
    background-color: brown;
}

.twilioVideo{
    width: 100%;
    height: 100%;
}

.studentProfile{
    width: 100%;
    height: 500px;
    background-color: yellow;
    
    border-style: solid;
    border-color: black;
}

.notes{
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 200px;
    background-color:royalblue;
}
.participants{
    height: 100%;
    width: 100%;
}

.participants video{
    height: 80%;
    width: 80%;
}

/* .room{
    height: inherit;
    width: inherit;
} */
#tbar{
    background-color: grey;
}
